.custom-text {
  font-size: 1.875rem; 
  color: white; 
  padding: 0.75rem; 
  transition: all 0.3s ease; 
}
.custom-text:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  background-color: #f4f4f4;
}
.fixed-bottom-right {
  position: fixed;
  bottom: 4px;
  right: 4px;
}
.custom-fixed {
  width: 18rem;
}
.custom-sidebar {
  width: 16rem; 
}
.gtret{
  width: 246px !important; 
}
@media (min-width: 900px) and (max-width: 1390px) {
  .Bgr{
  margin-left: 100px !important; 
  }
}

.custom-container {
  margin-left: 0.75rem; 
  padding-bottom: 2.5rem; 
  height: 100vh;
  overflow: hidden; 
}
.custom-container:hover {
  overflow: auto; 
}
.custom-size {
  width: 70px; 
  height: auto; 
}
.rest{
  text-transform: uppercase;
background: linear-gradient(to right, #C23028 0%, #D7572B 50%, #F6B339 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.button-x {
  font-size: 1.25rem; 
  border-radius: 50% !important; 
  padding: 0.75rem; 
  transition: background-color 0.3s ease;
}
.button-x:hover {
  background-color: #f4f4f4 !important; 
}
@media (max-width: 767px) {
  .custom-button {
    margin-top: 1rem; 
    display: block; 
  }
}

.link-active {
  display: flex;
  align-items: center; 
  gap: 0.25rem; 
  text-decoration: none; 
  background: linear-gradient(to right, #C23028 0%, #D7572B 50%, #F6B339 100%);
  padding-left: 1rem; 
  padding-top: 0.75rem; 
  padding-bottom: 0.625rem; 
  border-radius: 0.375rem;
  color: white; 
  font-size: 1rem;
  margin: 0.5rem; 
}
.link-normal {
  display: flex;
  align-items: center; 
  gap: 0.25rem; 
  text-decoration: none; 
  padding-left: 1rem; 
  padding-top: 0.75rem; 
  padding-bottom: 0.625rem; 
  border-radius: 0.375rem; 
  color: #4A5568; 
  font-size: 1rem;
  margin: 0.5rem; 
  transition: background-color 0.3s ease; 
}
.link-normal:hover {
  background-color: #f4f4f4; 
}
.custom-text-link-h {
  color: #A0AEC0; 
  margin: 0.75rem; 
  margin-top: 1rem; 
  text-transform: uppercase; 
}
.dark .custom-text-link-h {
  color: #0061df; 
}
.dot-badge {
  position: absolute; 
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  border-radius: 50%; 
  height: 0.5rem; 
  width: 0.5rem;
  right: 0.5rem; 
  top: 0.5rem; 
}
.custom-circle {
  border-radius: 50%; 
  width: 2rem; 
  height: 2rem; 
}